@import "@styles/variables.scss";
.product_block__small_title {
    font-size: 22px;
    font-weight: 600;
    color: $loader_color;
    margin-bottom: 20px;
    opacity: 0.7;
}

.loader_block {
    height: 100vh;
    @include block_default_layout(1400px, $default_background_color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.go_back_icon {
    position: absolute;
    display: flex;
    background: rgb(255, 0, 0, 0.35);
    width: 45px;
    height: 45px;
    top: 40px;
    left: 20px;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        transition: all 0.3s;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.45);
        opacity: 0.6;
    }
}
.go_back_icon__arrow {
    width: 10px;
    height: 10px;
    margin: auto;
    border-top: 3px solid rgb(255, 0, 0, 0.8);
    border-left: 3px solid rgb(255, 0, 0, 0.8);
    border-radius: 2px;
    transform: rotate(-45deg);
}

.product_block__main_info {
    @include block_main_font;
}

.product_block__short_info_block {
    margin: 30px auto;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(59, 59, 59, 0.3);
    p {
        align-items: center;
        display: flex;
        img {
            margin-right: 5px;
        }
    }
}
.product_block {
    margin: 0 auto;
    max-width: 400px;
    background: $default_background_color;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    height: auto;
}

@media screen and (max-width: 800px) {
    .product_block {
        max-width: 800px;
        border: 2px solid $counter_color;
        border-radius: 7px;
    }
    .product_block__image {
        max-width: 550px;
        border-radius: 7px;
    }
    .product_block__image_block {
        margin-top: 10px;
        box-sizing: border-box;
        position: relative;
        display: flex;
        justify-content: center;
        width: 400px;
    }
    .product_block__image {
        width: auto;
    }

    .scroller {
        width: 58px;
        height: 5px;
        background: $counter_color;
        border-radius: 12px;
        margin: 0 auto 20px auto;
    }

    .product_block__description_block {
        padding: 30px;
        border-radius: 7px;
        box-sizing: border-box;
        display: block;
        flex-direction: column;
        align-items: center;
        max-width: 600px;
    }

    .product_block__title {
        font-weight: 600;
        font-size: 27px;
        color: #09051c;
    }

    .product_block__title_desctop {
        display: none;
    }
    .ingredients_block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 600px;
    }

    .ingredients_block > ul {
        width: 230px;
        list-style-image: url(./images/groceries-icon.png);
        margin-top: 10px;
    }

    .ingredients_block__ingredient {
        padding: 0 0 0 15px;
    }
}

@media screen and (min-width: 801px) {
    .product_block {
        @include block_default_layout();
        position: relative;
        height: 100vh;
    }

    .product_block__description_block {
        width: 800px;
    }

    .scroller {
        display: none;
    }

    .product_block__image_block {
        width: 700px;
        margin: auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .product_block__image {
        width: 300px;
        border-radius: 7px;
    }

    .product_block__title {
        display: none;
    }

    .product_block__title_desctop {
        display: block;
        position: relative;
        font-weight: 600;
        margin-left: 120px;
        font-size: 27px;
        color: #09051c;
        width: 500px;
        height: auto;
    }

    .product_block__short_info_block {
        width: 500px;
    }

    .ingredients_block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 900px;
    }

    .ingredients_block > ul {
        width: 230px;
        list-style-image: url(./images/groceries-icon.png);
        margin-top: 10px;
    }

    .ingredients_block__ingredient {
        padding: 0 0 0 15px;
    }
}
