@import "@styles/variables.scss";

.product_block {
    margin: 20px auto;
    width: 400px;
    background: $default_backbround;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    max-height: 700px;
    border: 2px solid #ffcbcb;
    border-radius: 7px;
}
.product_block__image_block {
    box-sizing: border-box;
    position: relative;
    width: 400px;
}
.product-block__image-block > img {
    max-width: 300px;
    max-height: 200px;
}
.scroller {
    position: sticky;
    top: 0;
    width: 58px;
    height: 5px;
    background: #ffcbcb;
    border-radius: 12px;
    margin: 0 auto;
}

.product_block__description_block {
    padding: 30px;
    border-radius: 7px;
    box-sizing: border-box;
    overflow-y: scroll;
    display: block;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
}
.product_block__short_info_block {
    margin: 15px;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(59, 59, 59, 0.3);
    p {
        align-items: center;
        display: flex;
        img {
            margin-right: 5px;
        }
    }
}
.product_block__main_info {
    // color: #000000;
    // font-size: 14px;
    // line-height: 22px;
    @include block_main_font;
}
.product_block__title {
    font-weight: 600;
    font-size: 27px;

    color: #09051c;
}
.go_back_icon {
    position: absolute;
    display: flex;
    background: rgb(255, 0, 0, 0.35);
    width: 45px;
    height: 45px;
    top: 40px;
    left: 20px;
    border-radius: 7px;
    cursor: pointer;
}
.go_back_icon__arrow {
    width: 10px;
    height: 10px;
    margin: auto;
    border-top: 3px solid rgb(255, 0, 0, 0.8);
    border-left: 3px solid rgb(255, 0, 0, 0.8);
    border-radius: 2px;
    transform: rotate(-45deg);
}
