@import "@styles/variables.scss";

.product_block__small_title {
    font-size: 22px;
    font-weight: 600;
    color: $loader_color;
    margin-bottom: 20px;
    opacity: 0.7;
}

.loader_block {
    height: 100vh;
    @include block_default_layout(1400px, $default_background_color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.go_back_icon {
    position: absolute;
    display: flex;
    background: rgb(255, 0, 0, 0.35);
    width: 45px;
    height: 45px;
    top: 20px;
    left: 120px;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        transition: all 0.3s;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.45);
        opacity: 0.6;
    }
}

.go_back_icon__arrow {
    width: 10px;
    height: 10px;
    margin: auto;
    border-top: 3px solid rgb(255, 0, 0, 0.8);
    border-left: 3px solid rgb(255, 0, 0, 0.8);
    border-radius: 2px;
    transform: rotate(-45deg);
}

.product_block__main_info {
    @include block_main_font;
}

.product_block__short_info_block {
    margin: 30px auto;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(59, 59, 59, 0.3);

    p {
        align-items: center;
        display: flex;
        img {
            margin-right: 5px;
        }
    }
}

.product_block {
    margin: 0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    max-width: 400px;
    background: $default_background_color;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
}

// .ingredients_block > ul {
//     width: 250px;
//     margin-top: 10px;
// }

// .ingredients_block__ingredient {
//     display: table;
//     vertical-align: middle;
// }
.ingredients_block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.ingredients_block__item {
    margin: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 2px solid $counter_color;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 7px;
    padding: 20px;
    transition: all 0.3s;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 15px;
        transition: all 0.3s;
    }
}

.ingredients_block__img {
    max-width: 100px;
    max-height: 100px;
}

.ingredients_block__item > p {
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
    font-family: "Arial";
}

// .ingredients_block__ingredient::before {
//     content: "";
//     display: table-cell;
//     background-image: url(./images/groceries-icon.png);
//     width: 20px;
//     height: 20px;
//     padding-right: 30px;
//     background-repeat: no-repeat;
//     background-position: center;
// }

.main_text_block {
    font-family: "Arial";
    margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
    .product_block {
        max-width: 800px;
    }

    .product_block__image {
        max-width: 550px;
        border-radius: 7px;
        height: 200px;
    }

    .product_block__image_block {
        margin-top: 10px;
        box-sizing: border-box;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .scroller {
        width: 58px;
        height: 5px;
        background: $counter_color;
        border-radius: 12px;
        margin: 0 auto 20px auto;
    }

    .product_block__description_block {
        padding: 30px;
        border-radius: 7px;
        box-sizing: border-box;
        display: block;
        flex-direction: column;
        align-items: center;
        max-width: 600px;
    }

    .product_block__title {
        font-weight: 600;
        font-size: 27px;
        color: #09051c;
        display: flex;
        justify-content: center;
    }

    .product_block__title_desctop {
        display: none;
    }

    .ingredients_block {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 600px;
    }

    .go_back_icon {
        left: 20px;
    }
}

@media screen and (min-width: 801px) {
    .product_block {
        @include block_default_layout();
        position: relative;
        min-height: 100vh;
    }

    .product_block__description_block {
        width: 800px;
    }

    .scroller {
        display: none;
    }

    .product_block__image_block {
        width: 700px;
        box-sizing: border-box;
        padding: 0 50px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 50px;
    }

    .product_block__image {
        width: 300px;
        border-radius: 7px;
    }

    .product_block__title {
        display: none;
    }

    .product_block__title_desctop {
        font-weight: 600;
        width: 500px;
        font-size: 27px;
        color: #09051c;
    }

    .product_block__short_info_block {
        width: 500px;
    }

    .ingredients_block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 30px;
        width: 900px;
    }
}
