@import "@styles/variables.scss";

.main_container {
    box-shadow: 10px 5px 5px $counter_color;
}

header {
    @include block_default_layout();
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 30px 50px 20px 20px;
    margin: 0 auto;
    box-sizing: border-box;
    height: 100px;
}

.header_block {
    display: flex;
    align-items: center;
    align-items: flex-start;
}

.dropdown_block__img {
    display: flex;
    align-items: center;
}

.header_block__img {
    margin-right: 10px;
}

.food_block {
    @include block_default_layout();
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 80vh;
    justify-content: space-around;
}

.main_title {
    @include block_default_layout();
    @include page_title_font();
    display: flex;
    justify-content: center;
    color: rgb(255, 0, 0, 0.7);
}

.loader_item {
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination_block {
    margin: 50px 0;
    padding: 50px 0;
    @include block_default_layout();
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pagination_buttons {
    max-width: 850px;
    display: flex;
    flex-direction: row;
}

.no_results_block {
    margin-top: 10%;
    display: flex;
    height: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.no_results_block__image {
    max-width: 250px;
}

.no_results_block__text {
    @include page_title_font();
    color: rgba(194, 3, 3, 0.6);
    margin-bottom: 50px;
}

@media screen and (max-width: 950px) {
    .pagination_buttons {
        width: 450px;
        height: auto;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }

    header {
        @include block_default_layout();
        flex-direction: column;
        height: 150px;
        justify-content: space-around;
        align-items: center;
    }
}
@media screen and (max-width: 450px) {
    .header_block__img {
        display: none;
    }
}
